.analystic {
  padding: 2rem 2rem 2rem 1rem;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 8rem);
  border-radius: 3pt;
  overflow: hidden;
  position: relative;
  iframe {
    height: 100%;
    width: 100%;
  }
}