$cyan: #009999;
$white: #ffffff;
$black: #282828;
$dark: #333;
$skin: #D2CAC7;
$skin_dark: #87827F;
$gray: #757575;
$red: #F7615C;
$orange: #F78055;
$yellow: #FABD40;
$green: #3BC74A;
$blue: #398FEF;
$purple: #6638F0;
$gold: #BEB5A9;
$light: #F8F8F8;
$content: #3d3d3d;

$tone: $cyan;