@mixin list($tone, $backColor, $fontColor) {
  .list-container {
    margin: 2rem 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $fontColor;

    @media screen and (max-width: 575px) {
      padding: 1rem;
    }

    &.file .list {
      grid-template-columns: 1fr 15rem 8rem;
    }

    .list {
      width: calc(100% - 20pt);
      padding: 10pt;
      margin: 5pt 0;
      display: grid;
      grid-template-areas: "title content action";
      grid-template-columns: 27.5rem 1fr 8rem;
      grid-column-gap: 1rem;
      font-size: 10pt;
      text-align: left;
      background-color: $backColor;
      border-radius: 2pt;

      &.head {
        background-color: $tone;
        color: $white;
        padding: 5pt 10pt;

        .action p {
          &:last-child, &:hover {
            color: inherit;
          }
        }
      }

      >div {
        display: flex;
        justify-content: flex-start;
      }

      .action {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        p {
          cursor: pointer;

          &:hover {
            color: $tone;
            transition: all .3s;
          }

          &:last-child {
            color: $red;
          }
        }
      }
    }
  }
}
