#login {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  .container {
    background-color: $white;
    padding: 2rem;
    border-radius: 3pt;
    box-shadow: 1pt 1pt 2pt rgba($black, .5);
    display: flex;
    flex-direction: column;
    * {
      letter-spacing: 0;
    }
    .msg {
      color: $red;
      display: flex;
      font-size: 10pt;
      padding: 10px 10px 10px 5px;
      height: 10pt;
    }
    .button {
      background: $tone;
    }
  }
}