.recaptcha {
  display: flex;
}

.input-box {
  color: $tone;
  position: relative;
  margin: 20px 0;
  input {
    display: flex;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: none;
    width: calc(100% - 15px);
    border: 0;
    border-bottom: 1px solid $gray;
    padding: 10px 10px 10px 5px;
    font-size: 14pt;
    font-weight: 600;
    outline: none;
    &:required {
      box-shadow: none;
      &:invalid.verified {
        ~label {
          top: -20px;
          font-size: 10pt;
          color: $red !important;
        }
        ~.bar {
          &:before,
          &:after {
            width: 50%;
            background: $red;
          }
        }
      }
    }
    &:focus,
    &:valid {
      ~label {
        top: -20px;
        font-size: 10pt;
        color: inherit;
      }
      ~.bar {
        &:before,
        &:after {
          width: 50%;
        }
      }
    }
  }
  .bar {
    position: absolute;
    display: block;
    width: 100%;
    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $tone;
      transition: all ease .2s;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
  label {
    font-size: 14pt;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all ease .2s;
    color: $gray;
  }
}

.button {
  background: inherit;
  color: $white;
  margin: 1rem 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 3pt;
  box-shadow: 1pt 1pt 2pt rgba($black, .5);
  text-transform: uppercase;
  transition: all .3s;
  &:hover {
    box-shadow: 2pt 2pt 4pt rgba($black, .5);
  }
}

.editor-container {
  width: 800px;
  padding: 1rem;
  margin: 1rem auto !important;
  margin-top: 2rem !important;
  background-color: $white;
  border-radius: 2pt;
  &.user {
    width: 400px;
    header {
      margin-bottom: 2rem;
      h1 {
        margin-bottom: 5pt;
      }
      h1+p {
        margin-bottom: 10pt;
      }
    }
    .user-config {
      >.input-box {
        margin: 25pt 0;
      }
      .msg {
        color: $red;
        display: flex;
        font-size: 10pt;
        padding: 10px 10px 10px 5px;
        height: 10pt;
      }
    }
  }
  .img-list {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem 0;
    .image {
      height: 5rem;
      width: 5rem;
      margin-right: 1rem;
      border-radius: 2pt;
      background-position: center;
      background-size: cover;
      box-sizing: border-box;
      &.active {
        border: 2pt solid $tone;
      }
    }
  }
  >span {
    font-size: 10pt;
    margin: 2rem 0 1rem 0;
    &.active {
      color: $tone;
    }
  }
  .button {
    background-color: $tone;
  }
}

.paragraph {
  img {
    width: 720px;
  }
  h1 {
    margin: 3rem 0 1rem 0;
    font-weight: 500;
  }
  p,
  ul {
    margin: 1rem 0 !important;
    line-height: 1.6;
    font-size: 12pt;
    color: $content;
  }
  p {
    text-indent: 25pt;
    >a {
      margin: 0;
    }
  }
  p>img {
    transform: translateX(-25pt);
  }
  ul {
    background-color: $light;
    padding: 1rem !important;
    border-radius: 2pt;
    li {
      text-indent: 0;
      list-style: disc;
      margin: 0 0 1rem 1rem;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  h2 {
    position: relative;
    padding-left: 2rem !important;
    margin: 2rem 0 1rem 0 !important;
    font-weight: 500;
    &:before {
      pointer-events: none;
      transform: translateX(-2rem);
      color: $tone;
      content: "#";
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}

.list-container {
  margin: 2rem 2rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  &.file .list {
    grid-template-columns: 1fr 15rem 8rem;
  }
  .list {
    width: calc(100% - 20pt);
    padding: 10pt;
    margin: 5pt 0;
    display: grid;
    grid-template-areas: "title content action";
    grid-template-columns: 27.5rem 1fr 8rem;
    grid-column-gap: 1rem;
    font-size: 10pt;
    text-align: left;
    background-color: $white;
    border-radius: 2pt;
    &.head {
      background-color: $tone;
      color: $white;
      padding: 5pt 10pt;
      .action p:last-child {
        color: inherit;
      }
    }
    >div {
      display: flex;
      justify-content: flex-start;
    }
    .action {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      p {
        cursor: pointer;
        &:hover {
          color: $tone;
          transition: all .3s;
        }
        &:last-child {
          color: $red;
        }
      }
    }
  }
}

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: auto;
  width: 100px;
  &:before {
    content: '';
    display: block;
    padding-top: 300%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: $tone;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.files {
  .name {
    cursor: pointer;
    span {
      margin-left: 1rem;
    }
  }
}

.path-conatiner {
  display: flex;
  flex-direction: row;
  .path {
    margin-right: 1rem;
    cursor: pointer;
    span {
      margin-right: 1rem;
    }
  }
}
