.server-list {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    margin: 10pt;
    padding: 10pt;
    box-shadow: 1pt 1pt 2pt rgba($black, .5);
    border-radius: 2pt;
    position: relative;
    h1 {
      font-size: 18pt;
      margin-bottom: 5pt;
    }
    p {
      color: $red;
      font-size: 10pt;
      &.active {
        color: $green;
      }
      span {
        margin-left: 1rem;
      }
    }
    .state-container {
      margin: 1rem 0;
      overflow: hidden;
      h2 {
        font-size: 12pt;
      }
      .statebar {
        width: 100%;
        height: 10pt;
        background-color: $tone;
        margin: 5pt 0;
      }
    }
  }
}