// © Limeishu, @limeishu.org, 2018, All right reserved.
@import 'reset';
@import 'color';
@import 'font';

@import 'header';
@import 'footer';
@import 'navbar';
@import 'sidebar';
@import 'plugin';

@import 'home';

#app {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  .main {
    position: relative;
    margin-top: 4rem;
    height: calc(100% - 4rem);
    width: 100%;
  }
}
