// © Limeishu, @limeishu.org, 2018, All right reserved.
@import 'reset';
@import 'color';
@import 'font';

@import 'header';
@import 'footer';
@import 'navbar';
@import 'sidebar';
@import 'plugin';
@import 'list';

@import 'home';
@import 'login';
@import 'analystic';
@import 'server';

#app {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: $light;
  .main {
    position: relative;
    margin-top: 4rem;
    min-height: calc(100vh - 4rem);
    width: 100%;
    >div:not(.side) {
      margin-left: 10rem;
      margin-right: 0;
    }
    .main-container {
      min-height: inherit;
    }
  }
}
