@mixin meibo-light ($tone) {

  background-color: $light;

  @include plugin($tone: $tone, $backColor: $white, $fontColor: $dark);
  @include navbar($tone: $tone);
  @include sidebar($tone: $tone, $fontColor: $dark);
  @include login($tone: $tone, $backColor: $white, $fontColor: $dark);
  @include server($tone: $tone, $backColor: $white, $fontColor: $dark);
  @include todos($tone: $tone, $backColor: $white, $fontColor: $dark, $shadowColor: $gray);
  @include footer($fontColor: $dark);
  @include list($tone: $tone, $backColor: $white, $fontColor: $dark);
  @include monit($tone: $tone, $backColor: $white, $fontColor: $dark);

  ::selection {
    background-color: lighten($tone, 5);
    color: $white;
  }
}
