@mixin meibo-dark ($tone) {

  background-color: $black;
  color: $white;

  @include plugin($tone: $tone, $backColor: $dark, $fontColor: $white);
  @include navbar($tone: $tone);
  @include sidebar($tone: $tone, $fontColor: $white);
  @include login($tone: $tone, $backColor: $dark, $fontColor: $white);
  @include server($tone: $tone, $backColor: $dark, $fontColor: $white);
  @include todos($tone: $tone, $backColor: $dark, $fontColor: $white, $shadowColor: $black);
  @include footer($fontColor: $white);
  @include list($tone: $tone, $backColor: $dark, $fontColor: $white);

  ::selection {
    background-color: $white;
    color: $tone;
  }
}
