@mixin meibo-lsd($tone: $red) {

  @include meibo-dark($tone: $red);
  $lsd-gradient: linear-gradient(90deg, $red, $yellow, $green, $blue, $purple, $red);

  .button {
    background: $lsd-gradient;
  }

  .switch {
    .slider {

      &,
      &:before {
        background: $lsd-gradient;
      }
    }
  }

  .editor-container {
    .image.active {
      border-image: $lsd-gradient;
    }
  }

  .datepicker-inputbox,
  .datepicker-main-wrapper {
    border-image: $lsd-gradient;

    .datepicker-month-name {
      background: $lsd-gradient;
    }

    .datepicker-table-cal.datepicker-day {

      &:hover,
      &.active {
        background: $lsd-gradient;
      }
    }
  }

  .input-box {
    .bar {

      &:before,
      &:after {
        background: $lsd-gradient;
      }
    }
  }

  .navbar {
    background: $lsd-gradient;
  }

  .list {
    &.head {
      background: $lsd-gradient;
    }
  }

  .todos {
    &.indent-1 {
      background: $lsd-gradient;
    }
  }
}
