@mixin meibo-light ($tone) {

  .button {
    background-color: $tone;
  }

  .switch {
    .slider {

      &,
      &:before {
        background-color: $tone;
      }
    }
  }

  .paragraph {
    h2 {
      &:before {
        color: $tone;
      }
    }
  }

  .datepicker-inputbox,
  .datepicker-main-wrapper {
    color: $tone;
    border-color: $tone;

    input {
      color: $tone;
      text-shadow: 0 0 0 $tone;
    }

    .datepicker-month-name {
      background-color: $tone;
    }

    .datepicker-table-cal.datepicker-day {

      &:hover,
      &.active {
        background-color: $tone;
      }
    }
  }

  .input-box {
    color: $tone;

    .bar {

      &:before,
      &:after {
        background: $tone;
      }
    }
  }

  .navbar {
    background-color: $tone;

    .version {
      color: $tone;
    }
  }

  .list {

    &.head {
      background-color: $tone;
    }

    .action {
      p:hover {
        color: $tone;
      }
    }
  }

  .sidebar {

    ul li a {

      &:hover,
      &.active {
        color: $tone;
      }
    }
  }

  .loader {
    svg.circular {
      .path {
        stroke: $tone;
      }
    }
  }

  .todos {
    &.indent-1 {
      background-color: $tone;
    }

    &.indent-2 {

      .checkbox {
        color: $tone;
      }
    }
  }

  .theme {
    color: $tone;
  }

}
